*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    height: 100vh;
    background-color: rgba(160, 232, 228, 0.67);
}
#container{
    border: 2px solid rgb(220, 9, 9);
    width: 40%;
    height: 100vh;
    min-width: 450px;
    position: relative;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;        
    top: 50%;
    left: 30%;
    padding: 15px 15px;    
}

#new_task{
    position: relative;
    background-color: antiquewhite;
    padding: 35px 25px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    input{
        width: 60%;
        height: 45px;
        font-size: 18px;
        border-radius: 15px;
        border: 2px solid rgba(172, 255, 47, 0.727);
        color: rgba(0, 128, 0, 0.83);
        padding: 15px;
        // justify-content: center;
        input:focus{
            outline: none;
            border-color: aqua;
        }
    }
    button{
        position: relative;
        width: 20%;
        height: 35px;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        font-size: 16px;
        background-color: yellowgreen;
        color: #ffff;
        cursor: pointer;       
    }
}

#task_list{
    position: relative;
    width: 100%;
    background-color: #ffff;
    padding: 30px 20px;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

    div {
    height: 50px;
    background-color: #fff;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    button{
        background-color: rgb(230, 85, 18);
        border: none;
        color: #fff;
        cursor: pointer;
        width: 20%;
        height: 45px;
        border-radius: 5px;
        font-weight: 600;
        font-size: 16px;
        position: relative;
    }    
}
}

// !==========================NAV BAR==========================================================

.containerHeader{
    max-width: 80%;
    margin: 0 auto;
}

header{
    width: 100%;
    background-color: rgb(15, 25, 35);
    .header{
        display: flex;
        justify-content: space-around;
        height: 80px;
        align-items: center;
        figure{
            a{
                img{
                    width: 150px; 
                }
            }
        }
        nav{
            display: flex;
            ul{
                display: flex;
                li{
                    margin-left: 15px;
                    a{
                        color: #fff;
                    }
                }
            }
        }
        .social{
            ul{
                display: flex; 
                li{
                    margin-left: 15px;
                    a{
                        color: #fff;  
                    }              
                      
                }
            }
        }
        .menu-mobile {
            display: none;
            color: #fff;            
        }
    }
}

@media (max-width: 690px){
    .header{
        nav{
            display: none;
        }   
        .social{
             display: none;
             color: #fff;
        }            
       
    }    
}
    
